.footer{
    display: flex;
    
   
   
}
section{
    width: 60%;
    margin: 0 auto;
}
li{
    list-style-type: none;

    
}

footer{
    text-align: justify;
    background: rgb(219, 222, 223);
}
.images img{
    width: 70px;
}
.images ul{
    display: flex;
    margin: 30px;
}
.images li{
    margin: 20px;
}
.footer p{
    text-align: center;
    position: absolute;
    bottom: 0;
    background: rgb(219, 222, 223);
    width: 100ch;
}